.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    margin-right: 6rem;
}

.subTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imageContainer {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.image {
    float: left;
    margin-right: 1.2rem;
    margin-bottom: 1.2rem;
    max-width: 100%;
    height: auto;
    display: block;
}
